:host {
    display: block;
}
.title-border {
    border-bottom: 1px solid #ccc;
}
.collapse-expand{
    &-block{
        // border: 1px solid #ccc;
        escaip-icon {
            transition: all 0.1s ease-in-out;
        }
        .collapse-up-down-arrow {
            mat-icon {
                transition: 0.2s all ease-in-out;
                transform: rotate(0deg);
                position: relative;
                width: 15px;
                height: 15px;
            }
            span {
                display: block;
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #000;
                &::before{
                    content: "";
                    width: 70%;
                    height: 3px;
                    background-color: #000;
                    position: absolute;
                    left: 15%;
                    top: calc(50% - 1.8px)
                }
                &::after{
                    content: "";
                    width: 3px;
                    height: 70%;
                    background-color: #000;
                    position: absolute;
                    left: calc(50% - 1.8px);
                    top: 15%;
                }
            }
            &.opend {
                mat-icon {
                    transform: rotate(90deg);
                }
            }
        }
        &.open {
            .collapse-up-down-arrow {
                span {
                    &::after {
                        display: none;
                    }
                }
                
            }
            
        }
    }
}

